.menu{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    height: 50px;
    position: sticky; 
    z-index: 1000;
    top: 1px;
    justify-content: center;
}
.logo{
    background-image: url(../images/iqlogo.jpg);
    background-position: center;
    background-size: cover;
    border-right: 5px solid rgba(66, 63, 63, 0.644);
    border-left: 5px solid rgba(66, 63, 63, 0.644);
    flex-grow: 1;
}
nav{
    flex-grow: 3;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    margin-top: 0px; 
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
}
nav ul li a:hover{
    background-color:#4a95b888;
    border-bottom: 4px solid #4a95b893;
    margin-top: 10px;
}
header{
    display: flex;
    height: 600px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    animation: cambioimagen 15s infinite;

}
@keyframes cambioimagen{
    0%{
        background-image: url(../IGDE/imagenesigde/data-1590455_1920.jpg)
    }
    35%{
        background-image: url(../IGDE/imagenesigde/business-businessmen-classroom-communication-267507.jpg);
    }
    40%{
        background-image: url(../IGDE/imagenesigde/security-265130_1920.jpg); 
    }
    75%{
        background-image: url(../IGDE/imagenesigde/technology-792180_1920.jpg); 
    }
    80%{
        background-image: url(../IGDE/imagenesigde/earth-2254769_1920.jpg); 
    }
    100%{
        background-image: url(../IGDE/imagenesigde/office-1209640_1920.jpg);
    }
    
}
.cuadrotexto{
    width: 50%;
    height: 45%;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 80px 60px;
    text-align: center;  
 }
 header h1{
     margin-top: 5px;
     font-size: 80px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 header h2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 header p{
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.contenedor1{
    height: auto;
    position: relative; 
   
}
.contenedor1 video{
    width: 100%;
}

.contenedor1 div{
    position: absolute;
    background-color: rgba(38, 173, 236, 0.548);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;

}
.contenidomision{
    top: 220px;
    left: 20%;
    
}
.contenidovision{
    top: 220px;
    left: 50%;
}
.contenidomision h2, .contenidovision h2{
    margin-top: 53px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenidovision p, .contenidomision p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.contenedor2{
    position: relative;
    background-color: rgba(0, 0, 0, 0.925);
    height: 200px;
    margin-top: -24px;
}
.contenedor2 h2{
    padding-top: 60px;
    margin-left: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
.contenedor2 p{
    margin-left: 16px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
