body{
    background-image: url(./imagenesigde/maxresdefault.jpg);
}
form{
   background-color: rgb(97, 97, 97);
   width: 50%;
   align-self: center;
   justify-content: center;
   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.507);
   margin-left: 20%;
   margin-top: 3%;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 10%;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-right: 0px;
   color: white;
}
a{
    background-color: rgb(39, 39, 39);
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 45%;
    margin-top: 500px;
    font-weight: bolder;
}

a:hover{
    background-color: rgba(26, 146, 194);
    color: rgb(255, 255, 255);
}

h1{
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen{
    width: 300px;
    height: 300px;
}