body{
    background-image: url(./imagenesigde/pexels-pixabay-273230.jpg);
    background-size: cover;
    background-position: center;
}
form{
   background-color: rgba(24, 24, 24, 0.945);
   width: 50%;
   align-self: center;
   justify-content: center;
   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.507);
   margin-left: 20%;
   margin-top: 3%;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 10%;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-right: 0px;
   color: white;
}
a{
    background-color: rgba(24, 24, 24, 0.945);
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    margin-left: 45%;
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: bolder;
    display: inline-block;
}

a:hover{
    background-color: rgba(26, 146, 194, 0.842);
    color: rgb(255, 255, 255);
}

h1{
    border: 2px solid white;
    width: 250px;
    text-align: center ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen{
    width: 300px;
    height: 300px;
}
.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43, 42, 42, 0.705);
}
.contenedor_qr{
    background-color: rgb(207, 207, 207);
    width: 60%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 10px 15px 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}