body{
    width:100%;
    text-align:center;
    background-image: url(../imagenesigde/pexels-josh-sorenson-1714205.jpg);
    background-size: cover;
    background-position: center;
}
#mainbody{
    background: white;
    width:100%;
	display:none;
}
#v{
    width:320px;
    height:240px;
}
#qr-canvas{
    display:none;
}
#outdiv
{

    width:320px;
    height:240px;
    border: 2px solid white;
    margin: 50px auto;
	border-width: 3px 3px 3px 3px;
}
#result{
	border-width: 1px 1px 1px 1px;
	padding:20px;
    width:30%;
    margin: 20px auto;
    text-align: center;
}

a{
    background-color: rgba(24, 24, 24, 0.945);
    list-style: none;
    text-decoration: none;
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    margin: 0 auto;

    font-weight: bolder;
    display: block;
}

a:hover{
    background-color: rgba(26, 146, 194, 0.842);
    color: rgb(255, 255, 255);
}

input[type="submit"]{
    background-color: rgba(24, 24, 24, 0.945);
    list-style: none;
    text-decoration: none;
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    margin: 0 auto;
    font-weight: bolder;
    display: block;
    margin-top: 10px;
}