body{
    width:100%;
    text-align:center;
    background-image: url(../imagenesigde/pexels-josh-sorenson-1714205.jpg);
    background-size: cover;
    background-position: center;
}
#mainbody{
    background: white;
    width:100%;
	display:none;
}
#v{
    width:320px;
    height:240px;
}
#qr-canvas{
    display:none;
}
#outdiv
{

    width:320px;
    height:240px;
    border: 2px solid white;
    margin: 50px auto;
	border-width: 3px 3px 3px 3px;
}
#result{
	border-width: 1px 1px 1px 1px;
	padding:20px;
    width:30%;
    margin: 20px auto;
    text-align: center;
}

a{
    background-color: rgba(24, 24, 24, 0.945);
    list-style: none;
    text-decoration: none;
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    margin: 0 auto;

    font-weight: bolder;
    display: block;
}

a:hover{
    background-color: rgba(26, 146, 194, 0.842);
    color: rgb(255, 255, 255);
}

input[type="submit"]{
    background-color: rgba(24, 24, 24, 0.945);
    list-style: none;
    text-decoration: none;
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    margin: 0 auto;
    font-weight: bolder;
    display: block;
    margin-top: 10px;
}
/* Estilo para la informacion de empleado al cosultaro */

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo .info_usuario{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    position: relative;
    padding: 1rem;
}
.fondo .info_usuario a{
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1rem;
    height: 1rem;
    padding: 2px;
    border-radius: 3px;
}
.fondo .info_usuario .imagen{
    width: 12rem;
    overflow: hidden;
}
.fondo .info_usuario .imagen img{
    width: 100%;
}
.fondo .info_usuario .datos{
    width: 12rem;
}
.fondo .info_usuario .datos p{
    text-align: left;
    color: white;
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 1rem;
}
span{
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 3px 2px rgb(19, 18, 18);
}